---
key: 1
title: 網頁設計
permalink: /works/
excerpt: 網頁設計 I 學習筆記
image: 网页设计封面图.jpg
background-image: 网页设计封面图.jpg
---
{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.works %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%  for portfolio in sorted_list %}
      <tr>
        <td><b><a href="{{ works.url | prepend: site.baseurl }}">{{ works.title }}</a></b></td>
        <td>{{ works.date | date: "%b %Y" }}</td>
        <td>{{ works.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  if site.works_in_progress %}
  <div class="works_inprogress">感謝觀賞。</div>{%
  endif %}{%
endif
%}
